* {
	box-sizing: border-box;
}

.home {
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	  background:
    linear-gradient(45deg, black 0%, hsla(340, 100%, 55%, 0) 70%),
    linear-gradient(135deg, #35507f 10%, hsla(225, 95%, 50%, 0) 80%),
    linear-gradient(225deg, #35507f 10%, hsla(140, 90%, 50%, 0) 80%),
    linear-gradient(315deg, black 100%, hsla(35, 95%, 55%, 0) 70%);
}


.calc-btn-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}


.animated-text {
	font-size: 50px;
	color: white;
}

.text-wrapper {
	margin-bottom: 35px;
}

.text-wrapper > div {
	text-align: center;
	display: block;
}


.calc-btn {
  background-color: #0a0f28 !important;
  padding: 10px 20px;
  color: white !important;
  font-size: 16px !important;
  border-radius: 44px !important;
  cursor: pointer;
  border: 1px solid white !important;
  transform: translate3d(0, 0, 0) !important;
  transition: all 0.2s ease !important;
}

.calc-btn:hover {
  background-color: #fff !important;
  transform: translate(0px, -2px) !important;
  color: #0a0f28 !important;
  font-weight: 600;
  box-shadow: 0px 15px 30px -12px rgba(255, 255, 255, 0.2) !important;
}

.calc-btn:focus {
  background-color: #32408f !important;
}

.calc-btn:focus:hover {
  color: white !important;
}



    /* REMOVE INPUT LABEL */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}